on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request.
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]
name: Codecov
jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: Install packages
      run: sudo apt-get install build-essential gcc clang meson python3
    - name: Setup
      run: meson setup builddir/ -Db_coverage=true
    - name: Test
      run: meson test -C builddir/ -v
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@4fe8c5f003fae66aa5ebb77cfd3e7bfbbda0b6b0 # v3.1.5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
