name: Coveralls

on:
  pull_request:
    branches: [ master ]
    paths:
      - 'meson.build'
      - '.github/workflows/**'
      - '**.c'
  push:
    branches: [ master ]
    paths:
      - 'meson.build'
      - '.github/workflows/**'
      - '**.c'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    permissions:
      checks: write  # for coverallsapp/github-action to create new checks
      contents: read  # for actions/checkout to fetch code
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@1f99358870fe1c846a3ccba386cc2b2246836776
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
      - name: Install packages
        run: sudo apt-get install build-essential gcc clang meson lcov
      - name: Setup
        run: meson setup builddir/ -Db_coverage=true
      - name: Compile with (${{ env.CC }})
        run: meson compile -C builddir/ -v
      - name: Test
        run: meson test -C builddir/ -v
      - name: Coverage
        run: ninja -C builddir/ coverage
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@67662d24394fd74bffcf7b462d1b432814159afd
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: builddir/meson-logs/coverage.info
